// @use './tipografia' as ft;

// FUENTE
$primaryFont:  "Poppins", sans-serif;

// MEDIAQUERIES
$phone: 425px;
$tablet: 768px;
$desk: 1024px;
$deskXL: 1366px;

// COLORES

$white: #FFFFFF;
$black: #000000;
$black10: #242323;
$lightBlue: #F4F6F5;
$crem: #E6C744;

