// @use './tipografia' as ft;

// FUENTE
$primaryFont:  "Roboto", sans-serif;

// MEDIAQUERIES
$phone: 425px;
$tablet: 768px;
$desk: 1024px;

// COLORES

$white: #FFFFFF;
$black: #000000;
$lightBlue: #C2C8DA;
$crem: #E6C744;
